{% extends 'main/base.html'%}
{% block title %}Edit Profile Details{% endblock title %}
{% block content %}
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <br/>
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center text-black">Edit Profile</h1>
            <center>
                <form class="w-full max-w-lg" method="POST">{% csrf_token %}
                    <input class="block border border-grey-light w-full p-3 rounded mb-4" disabled="true" id="id_username" maxlength="150" name="username" placeholder="username" type="text" value="{{user.username}}">
                    {% for field in form %}
                        {{ field.errors }}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Update</button>
                </form>
            </center>
        </div>
    </div>
    <br/>
</div>
{% endblock content %}
