{% extends "accounts/base.html" %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<br/>
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center text-black">Sign up</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    {{ field }}
                {% endfor %}

                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create Account</button>
            </form>
                <div class="text-center text-sm text-grey-dark mt-4">
                    By signing up, you agree to the
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    Terms of Service
                </a> and
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    Privacy Policy
                </a>
                </div>
            </div>

        <div class="mt-6 text-white">
            Already have an account?
            <a class="no-underline border-b border-blue text-blue" href="{% url 'login' %}">
            Log in
        </a>.
        </div>
    </div>
</div>
<br/>
{% endblock content %}